@charset "utf-8";

/* Pusrpose: CSS document for default design */
/* Developed by: Yuan Yuan, Feng Han, Chris Lachtman, Nari Roh */
/* Script Date: August 30, 2021 */

/*************************/
/* IMPORTING GOOGLE FONT */
/*************************/

/* Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Anton */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Teko */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Teko&display=swap");

/*************************/
/*     MEDIA QUERIES     */
/*************************/

/* CSS Rules for Mobile Device */
@media screen and (max-width: 400px) {
  /* your code goes here */
}

/* CSS Rules for Tablet Device */
@media screen and (min-width: 401px) and (max-width: 768) {
  /* your code goes here */
}

/* CSS Rules for Desktop Device */
@media screen and (min-width: 769px) {
  /* your code goes here */
}

/************************/
/*        GENERAL       */
/************************/

.zigzag-line {
  width: 300px;
}

.uppercase {
  text-transform: uppercase;
}

/************************/
/*         BODY         */
/************************/

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #242323;
}

header {
  width: 100%;
  height: 433px;
  background-color: #c3a9d4;
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 150px;
  color: #fff;
  padding-top: 87px;
}

header p {
  margin: 0;
  font-family: "Teko", "Open Sans";
  font-size: 50px;
  color: #fff;
}

/*********************/
/*     INFO PNEL     */
/*********************/

#info-panel {
  width: 100%;
  height: 69px;
  background-color: #242323;
  color: #fff;
  text-align: center;
}

#info-panel p {
  margin: 0;
  font-size: 20px;
  padding-top: 18px;
}

/*********************/
/*      NAV BAR      */
/*********************/

#main-nav ul {
  margin-left: 15%;
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#main-nav a {
  font-size: 24px;
  text-decoration: none;
  color: #242323;
}

/********************/
/*      FOOTER      */
/********************/

#footer {
  width: 100%;
  height: 516px;
  background-color: #242323;
  color: #fff;
}

#footer-wrapper {
  padding: 130px;
  display: flex;
  justify-content: space-between;
}

#footer span {
  font-size: 30px;
}

#footer p {
  margin-top: 5px;
  font-size: 23px;
}

/* STYLING ADDRESS SELECTOR */
#address p {
  font-style: normal;
}

/*  */
#subscribe {
  display: flex;
  flex-direction: column;
}

#social-icons {
  display: flex;
  margin-top: 40px;
  font-size: 45px;
  justify-content: space-between;
}

#copyright {
  font-size: smaller;
  text-align: center;
  padding-bottom: 50px;
}
