@charset "utf-8";

/* Pusrpose: CSS document for default design */
/* Developed by: Yuan Yuan, Feng Han, Chris Lachtman, Nari Roh */
/* Script Date: August 30, 2021 */

/*************************/
/* IMPORTING GOOGLE FONT */
/*************************/

/* Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Anton */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Teko */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Teko&display=swap");

/* Khand */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Khand&family=Teko&display=swap');

/*************************/
/*     MEDIA QUERIES     */
/*************************/

/* CSS Rules for Mobile Device */
@media screen and (max-width: 414px) {
    #info-panel {
        flex-wrap: wrap;
    }
    
    #info-panel span {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }
}

/* CSS Rules for Tablet Device */
@media screen and (min-width: 415px) and (max-width: 768) {
    
}

/* CSS Rules for Tablet Device */
@media screen and (min-width: 415px) and (max-width: 768px) {
  
}
  
/* CSS Rules for Desktop Device */
@media screen and (min-width: 769px) {
    #mobile-nav {
        display: none;
    }
}

/************************/
/*        GENERAL       */
/************************/

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Anton", sans-serif;
}

a {
    text-decoration: none;
}

.zigzag-line {
  width: 300px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
    display: none;
}

/************************/
/*         BODY         */
/************************/

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #242323;
}

header {
  /* width: 100%;
  height: 433px;
  background-color: #c3a9d4;
  text-align: center; */
}

header > * {
    color: #fff;
}

header h1 {
  /* margin: 0; */
  /* font-family: "Anton", sans-serif; */
  /* font-size: 150px; */
  /* font-size: 11.7vw; */
  /* color: #fff; */
  /* padding-top: 87px; */
}


header p {
  /* margin: 0; */
  font-family: "Teko", "Open Sans";
  /* font-size: 50px; */
}

/*********************/
/*     INFO PANEL    */
/*********************/

#info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    background-color: #242323;
    color: #fff;
}

#info-panel p {
    font-size: 1rem;
    /* padding-top: 18px; */
}

/*********************/
/*      NAV BAR      */
/*********************/

/* #nav {
    width: 100%;
} */

#main-nav {
    /* display: flex; */
    /* display: none; */
}

#main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

ul#menu {
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
}

#main-nav a {
  font-size: 24px;
  color: #242323;
}

ul#languages {
    margin-right: 20px;
    margin-left: auto;
}

#languages li {
    padding-right: 10px;
}

#mobile-nav {
    width: 53%;
    height: 40px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

#mobile-nav i {
    font-size: 25px;
    margin-right: 5px;
}

/********************/
/*      FOOTER      */
/********************/

#footer {
  width: 100%;
  height: 516px;
  background-color: #242323;
  color: #fff;
}

#footer-wrapper {
  padding: 159px 111px 60px 111px;
  display: flex;
  justify-content: space-between;
}

#footer-wrapper span, #subscribe-label {
  font-size: 30px;
}

#footer-wrapper p {
    font-size: 23px;
}

/* STYLING ADDRESS SELECTOR */
#address p {
  font-style: normal;
}

/* Styling  */
#subscribe {
  display: flex;
  flex-direction: column;
}

#subscribe input {
    margin-top: 10px;
    width: 350px;
}

#subscribe input::placeholder {
    padding-left: 5px;
    font-family: "Oswald", sans-serif;
    color: #242323;
}

#subscribe input[type=email] {
    height: 43px;
}

#subscribe input[type=submit] {
    height: 46px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    background-color: #242323;
    border: 3px solid #fff;
    color: #fff;
}

#social-icons {
  display: flex;
  margin-top: 20px;
  font-size: 45px;
  width: 150px;
  justify-content: space-between;
}

#copyright {
  text-align: center;
}

#copyright p {
    margin: 0;
    font-size: 20px;
}
