@charset "utf-8";

/* Pusrpose: CSS document for Chez Feng web site */
/* Developed by: Yuan Yuan, Feng Han, Chris Lachtman, Nari Roh */
/* Script Date: August 30, 2021 */

/* Importing base.css */

@import url("base.css");

/*****************/
/*     INDEX     */
/*****************/
.index-header {
    display: flex;
    background-color: #B5E8D5;
    height: 792px;
}

.index-header-flex {
    flex: 50%;
}

.index-header-text {
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

.index-header-text h1 {
    font-size: 5vw;
    letter-spacing: 2px;
}

.index-header-text p {
    font-size: 2.7vw;
}

.index-header-img {
    height: 34vw;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
}

.index-zigzag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.index-section-description {
    display: flex;
    height: 697px;
}

.index-section-description-flex {
    flex: 50%;
    text-align: center;
}

.index-section-headers {
    display: inline-flex;
    border-bottom: solid #242323;
    padding-bottom: 15px;
    margin-top: 15%;
    margin-bottom: 12%;
}

.index-section-paragraph {
    margin-bottom: 8%;
}

.index-section-button {
    color: #242323;
    text-decoration: none;
    border: 2px solid #242323 !important;
    padding: 5px 15px 5px 15px;
}

.index-section-button:visited {
    color: #242323;
}

.index-section-button:hover {
    background-color: #242323;
    color: white;
}

.index-section-img1 {
    background-image: url("/images/tarte.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    height: 697px;
}

.index-section-img2 {
    background-image: url("/images/cake-with-deco.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    height: 697px;
}

.index-section-img3 {
    background-image: url("/images/home-baking.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    height: 697px;
}


/******************/
/*      CAKE      */
/******************/

#slogan-cake {
    text-align: center;
    font-size: 40px;
}

#main-form-create-cake {
    position: relative;
    width: 60%;
    left: 20%;
    display: flex;
    overflow: auto;
    justify-content: space-evenly;
    font-size: 30px;
}

#cake-details {
    border: none;
}

.cake-form-title {
    text-align: center;
    font-weight: bold;
}

#decor {
    border: 1px solid black;
}

#comments {
    height: 120px
}

#contact-info {
    border: none;
}

#sample-image {
    height: 150px;
}

input[type="text"] {
    height: 30px;
    width: 250px;
    font-size: 20px;
}

input[type="email"] {
    height: 30px;
    width: 250px;
    font-size: 20px;
}

#flavor {
    height: 40px;
    width: 260px;
    font-size: 20px;
}

#submit-cake {
    position: relative;
    left: 45%;
    font-size: 25px;
    padding: 10px 60px;
}
/******************/
/*      SHOP      */
/******************/

/********************/
/*      RECIPE      */
/********************/
#header-recipe {
    background-color:#F9DB79 ;
}
/*******************/
/*      ABOUT      */
/*******************/

/*********************/
/*      CONTACT      */
/*********************/
