@charset "utf-8";

/* Pusrpose: CSS document for Chez Feng web site */
/* Developed by: Yuan Yuan, Feng Han, Chris Lachtman, Nari Roh */
/* Script Date: August 30, 2021 */

/* Importing base.css */

@import url("base.css");

/*****************/
/*     INDEX     */
/*****************/

.index-header {
    background-color: #B5E8D5;
    height: 68vh;
    padding-top: 10%;
}

.index-header-img {
    width: 90%;
    margin-top: 4vw;
}

.index-header-text {
    text-align: left;
    margin-left: 20px;
    color: #fff;
}

.index-header-text h1 {
    font-size: 10vw;
    margin-bottom: 3%;
}

.index-header-text p {
    font-size: 6vw;
}

.index-article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.index-article-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
}

.index-article img {
    width: 100%;
    height: auto;
}

.index-article-header {
    border-bottom: solid 4px #242323;
    padding-bottom: 10px;
    font-size: 2.5em;
}

#index-article-header-1 {
    width: 6.5em;
}

#index-article-header-2 {
    width: 8em;
}

#index-article-header-3 {
    width: 7em;
}

.index-article-paragraph {
    font-size: 1.5em;
    width: 70%;
}

.index-article-button {
    font-size: 1.5em;
    color: #242323;
    text-decoration: none;
    border: 3px solid #242323;
    padding: 5px 15px;
    margin-bottom: 30px;
}

.index-article-button:visited {
    color: #242323;
}

.index-article-button:hover {
    background-color: #242323;
    color: white;
}

#index-article-image-2 {
    order: 1;
}

.index-chezfang-flex {
    display: flex;
}

.index-flex-25 {
    flex: 25%;
}

.index-chezfeng-header {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2%;
}

.index-chezfang-img {
    background-repeat:no-repeat;
    background-position: center;
    height: 460px;
}

@media screen and (min-width: 769px) {
    .index-header {
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }

    .index-header-img {
        flex: 45%;
        max-width: 45%;
    }

    .index-header-text {
        margin-left: 4vh;
    }

    .index-header-text h1 {
        margin: 17vh 0 0.2vh 0;
        font-size: 5em
    }

    .index-header-text p {
        font-size: 3em;
    }

    .index-article {
        flex-direction: row;
    }

    .index-article-column {
        flex: 50%;
        max-width: 50%;
    }
    
    #index-article-image-2 {
        order: 0;
    }

    .index-article-column {
        margin-top: 0;
    }

    #footer-wrapper {
        flex-direction: row;
        padding: 130px 130px 0 130px;
        justify-content: center;
    }

    .footer-column {
        flex: 25%;
        max-width: 25%;
    }

    #footer-wrapper span, #subscribe-label {
        font-size: 2em;
    }

    #footer-wrapper p {
        font-size: 1.5em;
    }
    
    #copyright p {
        font-size: 1em;
    }
}

/******************/
/*      CAKE      */
/******************/

#slogan-cake {
    text-align: center;
    font-size: 40px;
}

#slogan-cake p {
    margin-bottom: 100px;
}

#result button {
    font-size: 40px;
    height: 110%;
}

@media screen and (min-width: 769px) {
    #main-form-create-cake {
        position: relative;
        width: 60%;
        left: 20%;
        display: flex;
        overflow: auto;
        justify-content: space-evenly;
        font-size: 30px;
    }

    #result {
        position: absolute;
        width: 60%;
        left: 35%;
        top: 120%;
        display: flex;
        overflow: auto;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 30px;
    }

    input[type="text"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }
    
    input[type="email"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }

    input[type="number"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }
    
    #flavor {
        height: 40px;
        width: 260px;
        font-size: 20px;
    }
}

#cake-details {
    border: none;
}

.cake-form-title {
    text-align: center;
    font-weight: bold;
}

#decor {
    border: 1px solid black;
}

#comments {
    height: 120px
}

#contact-info {
    border: none;
}

#sample-image {
    height: 150px;
}

/* #submit-cake:hover {
    color: #000;
    background-color: #fff;
    border: 3px solid #000;
} */

@media screen and (min-width: 415px) and (max-width: 768px) {
    #cake-main {
        width: 768px;
    }

    #main-form-create-cake {
        position: relative;
        width: 60%;
        left: 20%;
        display: flexbox;
        font-size: 20px;
    }

    #result {
        position: relative;
        width: 60%;
        left: 20%;
        display: flexbox;
        font-size: 20px;
    }

    input[type="text"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }
    
    input[type="email"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }

    input[type="number"] {
        height: 30px;
        width: 250px;
        font-size: 20px;
    }
    
    #flavor {
        height: 40px;
        width: 260px;
        font-size: 20px;
    }
}

@media screen and (max-width: 414px) {
    #cake-main {
        width: 410px;
    }

    #main-form-create-cake {
        position: relative;
        width: 40%;
        display: flexbox;
        font-size: 20px;
    }

    #result {
        position: relative;
        width: 40%;
        display: flexbox;
        font-size: 20px;
    }

    input[type="text"] {
        height: 30px;
        width: 150px;
        font-size: 20px;
    }
    
    input[type="email"] {
        height: 30px;
        width: 150px;
        font-size: 20px;
    }

    input[type="number"] {
        height: 30px;
        width: 150px;
        font-size: 20px;
    }
    
    #flavor {
        height: 40px;
        width: 160px;
        font-size: 20px;
    }

}
#submit-cake {
    display: flex;
    justify-content: center;
}
#sample-row {
    position: absolute;
    bottom: 0px;
}

#sample-row img {
    position: relative;
    left: 60%;
}

form .error {
    color: #f00;
    
    margin-left:9px;
    padding:1px 5px 0px 5px;
}

/******************/
/*      SHOP      */
/******************/

.shop-nav {
    flex: 100%;
    justify-content: center;
}

.shop-product-ul {
    text-align: center;
    list-style-type: none;
}
  
.shop-product-li {
    font-size: 40px;
    color: #242323;
}
  
.shop-product-li:hover {
    text-decoration: underline;
}

.shop-product-li:visited {
    color: #242323;
}
  
#shop-search-container {
    margin: 70px auto;
    width: 400px;
    font-size: 18px;
}

#shop-search-container form {
    position: relative;
}

#shop-search-box {
    height: 50px;
    padding-left: 10px;
    width: 340px;
}

#shop-search-button {
    position: absolute;
    border: none;
    background-color: #000;
    cursor: pointer;
    padding: 15px;
}

#shop-search-button i {
    font-size: 25px;
    color: #fff;
}

.shop-container, .shop-products-top-row, .shop-list-item {
    flex-direction: column;
}

.shop-list-item {
    width: 440px;
    cursor: pointer; 
}

#shop-main-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 70px 0;
    gap: 50px;
}

.shop-img {
    width: 440px;
    height: 600px;
}

.shop-list-item {
    border: 3px solid #242323;
}

.shop-product-adjusting {
    padding: 20px;
}

.shop-product-header {
    font-size: 2em;
    padding-bottom: 10px;
}

.shop-product-adjusting p:first-of-type {
    font-size: 1.4em;
    font-family: 'Khand', arial;
    padding-bottom: 10px;
}

.shop-product-adjusting p:nth-of-type(2n) {
    font-family: 'Teko', arial;
    font-size: 2em;
}

.shop-product-adjusting p:last-of-type {
    font-family: 'Teko', arial;
    font-size: 2.2em;
}

/* modal backdrop */
#shop-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* modal box */
#shop-modal {
    background-color: #fff;
    margin: 5% auto; 
    width: 468px;
    height: 1000px;
    position: relative;
}

#shop-modal-body :not(:first-child),
#shop-modal-footer {
    padding-left: 20px;
    padding-right: 20px;
}

/* modal body */
#shop-modal-body img {
    width: 100%;
    height: 600px;
}

#shop-modal-body h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

#shop-modal-body p:first-of-type {
    font-family: 'Khand', arial;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

#shop-modal-body p:not(:first-of-type), 
#shop-modal-footer {
    letter-spacing: 0.5px;
    font-size: 25px;
    font-family: 'Teko', arial;
}

/* modal footer */
#shop-modal-quantity-wrapper {
    width: 100%;
    justify-content: space-between;
}

/* remove spin button for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

#shop-modal-quantity-selection input[type=number] {
    width: 50px;
    border: none;
    text-align: center;
    font-size: 25px;
}

#shop-modal-quantity-selection button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: solid #242323 3px;
    border-radius: 50%;
    background-color: #fff;  
    cursor: pointer; 
}    

#shop-modal-footer input[type=submit] {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #242323;
    color: #fff;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    cursor: pointer; 
}

#shop-modal-footer input[type=submit]:hover {
    background-color: #fff;
    color: #242323;
    border: solid 3px #242323;
}

/* modal close button */
#shop-modal-close-button {
    width: 30px;
    height: 30px;
    background-color: #242323;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    right: -13px;
    cursor: pointer;  
}

#shop-modal-close-button i {
    font-size: 20px;
    color: #fff;
    padding: 5px 8px;
}

/* media query */

@media screen and (max-width: 480px) {
    #shop-modal {
        width: 75%;
        height: 830px;
    }

    #shop-modal-body img {
        height: 20%;
    }

    #shop-modal-footer input[type=submit] {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px) {
    #shop-main-content {
        flex-direction: row;
        flex-wrap: wrap;
    }    
}

@media screen and (min-width: 1300px) {
    .shop-container {
        flex-flow: row;
    }
    
    #shop-search-container {
        order: -1;
        margin: 50px 20px;
        width: 250px;
    }
    
    #shop-search-box {
        height: 40px;
        width: 230px;
    }
    
    #shop-search-button {
        padding: 10px;
    }
    
    #shop-main-content {
        justify-content: flex-start;
        gap: 20px;
        margin-left: 50px;
    }

    .shop-list-item {
        width: 370px;
    }
    
    .shop-img {
        width: 370px;
        height: 500px;
    }
}

/********************/
/*      RECIPE      */
/********************/

#recipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#recipe-button button {
    width: 120%;
}

@media screen and (min-width: 769px) {
    .recipe-main {
        font-size: 40px;
    }

    .nav-recipe {
        border: 3px solid black;
        position: relative;
        left: 10%;
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .recipe-name {
        text-align: center;
        font-size: 80px;
        font-weight:normal;
    }
    
    .recipe-intro {
        position: relative;
        width: 50%;
        left: 25%;
        font-size: 30px;
    }

    .recipe-detail {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        left: 20%;
    }

    .recipe-img {
        width: 500px;
    }
    
    .recipe-detail {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        left: 20%;
    }

    .ingredient-title {
        margin-bottom: 0;
        margin-left: 50px;
    }
    
    .ingredient-list {
        margin: 50px 70px 100px 70px;
    }
    
}


@media screen and (min-width: 415px) and (max-width: 768px) {
    .recipe-main {
        font-size: 30px;
        width: 770px;
    }

    .nav-recipe {
        border: 3px solid black;
        position: relative;
        width: 50%;
        left: 10%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .recipe-name {
        text-align: center;
        font-size: 60px;
        font-weight:normal;
    }
    
    .recipe-intro {
        position: relative;
        width: 50%;
        left: 25%;
        font-size: 20px;
    }

    .recipe-detail {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        left: 20%;
    }

    .recipe-img {
        width: 500px;
    }
    
    .recipe-detail {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 60%;
        left: 20%;
    }

    .ingredient-title {
        margin-bottom: 0;
        margin-left: 50px;
    }
    
    .recipe-ingredient {
        width: 500px;
    }

    .ingredient-list {
        margin: 50px 100px 100px 70px;
    }
}

@media screen and (max-width: 414px) {
    .recipe-main {
        font-size: 25px;
        width: 410;
    }

    .nav-recipe {
        border: 3px solid black;
        position: relative;
        left: 10%;
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .recipe-name {
        text-align: center;
        font-size: 40px;
        font-weight:normal;
    }
    
    .recipe-intro {
        position: relative;
        width: 70%;
        left: 15%;
        font-size: 20px;
    }

    .recipe-detail {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 60%;
        left: 10%;
    }

    .recipe-img {
        width: 300px;
        height: 400px;
    }

    .recipe-ingredient {
        width: 300px;
    }

    .ingredient-title {
        margin-bottom: 0;
        margin-left: 50px;
    }
    
    .ingredient-list {
        margin: 50px 70px 100px 70px;
    }
}

.nav-recipe {
    border: 3px solid black;
    position: relative;
    left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-recipe ul{
    margin: 15px auto;
}

.nav-recipe ul li{
    font-size: 30px;
    list-style-type: none;
    display: inline;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-recipe ul li a:link {
    color: #000;
    text-decoration: none;
}

.nav-recipe ul li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.recipe-ingredient {
    background-color: #FCEDBB;
}

#recipe-button button:hover {
    color: #000;
    border: 3px solid #000;
    background-color: #fff
}

/*******************/
/*      ABOUT      */
/*******************/

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 2rem 2rem;
}

.store-img {
    width: 100%;
    height: auto;
}
.store-story {
    padding: 2rem 2rem;
    background: #FBF4E6;
}
.store-story h4 {
    font-size: 3.13rem;
    text-align: left;
}
.store-story p {
    font-size: 2.25rem;
    text-align: left;
}
.owner-story {
    padding: 2rem 2rem;
    background: #FBF4E6;
}
.owner-story h4 {
    font-size: 3.13rem;
    text-align: right;
}
.owner-story p {
    font-size: 2.25rem;
    text-align: right;
}

.owner-img {
    width: 100%;
    height: auto;
}
/*********************/
/*      CONTACT      */
/*********************/
#contact-header {
    background: #FBB1BD ;
    width: auto;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px, 1fr));
    column-gap: 10rem;
    padding: 4rem;
}

.form-field{
    width: 42rem;
    margin-left: 0rem;
    padding: 2rem 2rem;
    background: #FFF2F2;
    border: none;
}
.form-field h4 {
    font-size: 3.13rem;
    text-align: center;
}
.form-field p {
    font-size: 2.25rem;
    
}
.form-info {
    padding: 2rem 4rem; 
}
#c-topic-choice{
    font-size: 2.25rem;
    width: 37.3rem;
}
#c-topic-choice option {
    font-size: 2.25rem;
}
#input-email{
    width: 37.3rem ;
}
#input-full-name{
    width: 37.3rem ;
}
#contact-submit-button {
    display: flex;
    justify-content: center;
}

#contact-submit-button [type="submit"] {
    margin-top: 15px;
}

.opening-address {
    text-align: left;
    padding:  4rem 0 0 4rem;
}
.opening-address p{
    font-size: 2.25rem;
}
.map {
    padding: 2rem 4rem;
}
.directions {
    font-size: 3.13rem;
}
.feedback{
    width: 600px;
	height: 120px;
}
@media screen and (min-width: 769px) {
/*******************/
/*      ABOUT      */
/*******************/


/*********************/
/*      CONTACT      */
/*********************/
    .contact-form {
        padding: 0rem;
    }
    .form-info {
        padding: 2rem 4rem; 
    }
    .map {
        padding: 2rem 0rem;
    }
}

/*******************/
/*      ABOUT      */
/*******************/

@media screen and (min-width: 415px) and (max-width: 768px) {
    .about-us {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; 
        column-gap: 2rem;
        row-gap: 1rem;
        padding: 2rem 2rem; */
    }
    .store-story h1{
        
        font-size: 2rem;
    }
    .store-story p{
        font-family: 'Khand', sans-serif;
        font-size: 1.8rem;
    }
    .owner-story h1{
        font-size: 2rem;
    }
    .owner-story p{
        font-family: 'Khand', sans-serif;
        font-size: 1.8rem;
    }

/*********************/
/*      CONTACT      */
/*********************/
    /* .contact {
        width: 40rem;
    }
    #contact h1 {
        font-size:5rem;
    } */
    .contact-form {
        padding: 0rem;
    }
    .form-info{
        padding: 0;
    }
    .form-field{
        width: auto;
    }
    .form-text{
        padding-left:4rem;
    }
    .opening-address{
        width: auto;
        padding: 2rem;
    }
    .opening-address p{
        font-size: 1.9rem;
    }
    .map {
        padding: 0rem;
    }
    #c-topic-choice{
        font-size: 2.25rem;
        width: 20rem;
    }

    #input-email{
        width: 20rem;
    }
    #input-full-name{
        width: 20rem;
    }
    .feedback{
        width: 20rem;
        height: 120px;
    }
} 
/*******************/
/*      ABOUT      */
/*******************/

@media screen and (max-width: 414px) {
    .about h1{
        font-size:5rem;
    }
    .about-us {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; 
        column-gap: 2rem;
        row-gap: 1rem;
        padding: 2rem 2rem; */
    }
    .store-story h4{
        font-size: 1.2rem;
    }
    .store-story p{
        font-size: 1rem;
    }
    .owner-story h4{
        font-size: 1.2rem;
    }
    .owner-story p{
        font-size: 1rem;
    }

/*********************/
/*      CONTACT      */
/*********************/
    .contact {
        width: 40rem;
    }
    #contact h1 {
        font-size:5rem;
    }
    .contact-us-form{
        width: fit-content;
    }
    .contact-form {
        width: 100%;
        padding: 0rem;
    }
    .form-info{
        padding: 0;
    }
    .form-field{
        width: fit-content;
    }
    .form-text{
        padding:0rem;
    }
    .opening-address{
        width: fit-content;
        padding: 2rem;
    }
    .opening-address p{
        font-size: 1.6rem;
    }
    .map {
        padding: 0rem;
    }
    #c-topic-choice{
        font-size: 2.25rem;
        width: 18rem;
    }

    #input-email{
        width: 18rem;
    }
    #input-full-name{
        width: 18rem;
    }
    .feedback{
        width: 18rem;
        height: 13rem;
    }
}